name: Update Playlist

on:
  schedule:
    - cron: '0 * * * *'  # Har 1 hour pe run hoga
  workflow_dispatch:  # Manual Also

jobs:
  update-playlist:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          pip install requests
      
      - name: Fetch and process playlist
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: python process_playlist.py
      
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add SL.m3u sl.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update playlist - $(date '+%Y-%m-%d %H:%M:%S')" && git push)
